* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html {
  font-size: 100%;
}

/*16px*/
:root {
  /* Colors: */
  --grey-900: #0f172a;
  --grey-800: #1e293b;
  --grey-700: #334155;
  --grey-600: #475569;
  --grey-500: #64748b;
  --grey-400: #94a3b8;
  --grey-300: #cbd5e1;
  --grey-200: #e2e8f0;
  --grey-100: #f1f5f9;
  --grey-50: #f8fafc;
  --primary-900: #03180b;
  --primary-800: #053016;
  --primary-700: #084720;
  --primary-600: #0a5f2b;
  --primary-500-main-color: #0d7736;
  --primary-400: #3d925e;
  --primary-300: #6ead86;
  --primary-200: #9ec9af;
  --primary-100: #cfe4d7;
  --black: #000000;
  --green-dark: #0f5132;
  --green-light: #d1e7dd;
  --red-dark: #842029;
  --red-light: #f8d7da;
  --white: #ffffff;
  --unnamed-color-707070: #707070;

  /* Font/text values */
  --unnamed-font-family-segoe-ui: Segoe UI;
  --unnamed-font-family-montserrat: Montserrat;
  --unnamed-font-family-larsseit: Larsseit;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-30: 30px;
  --unnamed-font-size-40: 40px;
  --unnamed-font-size-50: 50px;
  --unnamed-font-size-60: 60px;
  --unnamed-font-size-39-060001373291016: 39.060001373291016px;
  --unnamed-font-size-31-25: 31.25px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-38: 38px;
  --unnamed-line-spacing-40: 40px;
  --unnamed-line-spacing-46: 46px;
  --unnamed-line-spacing-48: 48px;
  --unnamed-line-spacing-58: 58px;
  --unnamed-line-spacing-61: 61px;
  --unnamed-line-spacing-70: 70px;
  --unnamed-line-spacing-73: 73px;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-50);
  line-height: var(--unnamed-line-spacing-61);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-800);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-30);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-larsseit);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-50);
  line-height: var(--unnamed-line-spacing-58);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-73);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--grey-900);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-39-060001373291016);
  line-height: var(--unnamed-line-spacing-48);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--grey-900);
}
.unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-31-25);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--grey-900);
}
.unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-25);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--grey-900);
}
.unnamed-character-style-8 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--grey-900);
}
.unnamed-character-style-9 {
  font-family: var(--unnamed-font-family-larsseit);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-46);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
}
.unnamed-character-style-10 {
  font-family: var(--unnamed-font-family-larsseit);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-70);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
}
body {
  background: var(--grey-100) 0% 0% no-repeat padding-box;
  background: #f1f5f9 0% 0% no-repeat padding-box;
}

/* footer css */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--white);
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-25) /
    29px var(--unnamed-font-family-larsseit);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  font: normal normal 300 25px/29px Larsseit;
  text-transform: capitalize;
  margin-bottom: 19px;
}
.footer-col ul li {
  font: var(--unnamed-font-style-normal);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--grey-900);
  font: normal normal medium 50px/58px Larsseit;
}
.logo {
  width: 117px;
}

/* navbar css */

nav {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
nav img {
  width: 75px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
.nav-link {
  text-decoration: none;
}
